body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

/* custom applied css */
/* To either override bootstrap styles, or the default styling */

form input[type="submit"].custom-btn {
  margin-top: 0px;
  background: #019875;
}
/* Default button styling, refers to the old styling */
.custom-btn {
  border: none;
  margin-top: 10px;
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
/* Back button styling */
.custom-btn-back {
  margin-left: 10px;
  margin-top: 20px !important;
  border: none;
  color: white;
  background: #6c757d;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

/* Create button styling, with specific selecting and overriding */
form input[type="submit"].custom-btn-create {
  border: none;
  margin-left: 5px !important;
  color: white;
  background: #019875 !important;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.custom-btn-update {
  border: none;
  margin-left: 5px;
  color: white;
  background: #019875 !important;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.custom-btn-cancel {
  border: none;
  margin-left: 5px;
  color: white;
  background: #6c757d;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center !important;
}
.custom-btn-cancel:hover {
  color: white;
  background-color: #6c757d;
}

.custom-btn-destroy {
  border: none;
  margin-left: 5px;
  color: white;
  background: #dc3545 !important;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: #01b189;
}
/* form styles */
/* Override input styles, default back to original styles */
.form-group .custom-inp {
  width: 300px !important;
}
.form-inline input[type="submit"] {
  margin-left: 5px;
}
.form-inline {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.form-control {
  width: 92% !important;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

a:hover {
  color: black;
}

a.button,
input[type="submit"] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.table th {
  border-bottom: 2px solid #d8b493 !important;
}

/* Styling for Error messages and pages */
.error {
  color: rgb(236, 15, 15);
}
.grid-container {
  display: grid;
  width: 100%;
}
.item1 {
  grid-row-start: 1;
  grid-row-end: 1;
}

.item2 {
  grid-row-start: 2;
  grid-column-start: 1;
}

.item3 {
  float: left;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

/* pagination styling */
.pagination {
  margin: 40px 0 0 0;
  text-align: left;
}

.pagination li {
  display: inline;
}

.pagination li a {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 3px 8px;
  text-decoration: none;
  color: #4ba6c3;
}

.pagination li a.active,
.pagination li a:hover {
  background-color: #01b189;
  color: #fff;
}

/* Old styling */

/*
form a.button,
input[type="submit"] {
  margin-left: 140px;
  transition: 0.4s;
}


 input[type="submit"] {
  border: 0;
}

a.button:hover,
input[type="submit"]:hover {
  background-color: #01b189;
} 

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}
/* tr {
  min-height: 50px;
} */
/* .table-striped tr:nth-child(2n) {
  background: #e7e7e7;
} */

/* td {
  padding: 5px 20px 5px 10px;
} */
/* 

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #e7e7e7;
  transition: 0.4s;
}

input[type="text"] {
  margin-left: 7px;
  width: 300px;
}
*/
